<!-- Content Wrapper. Contains page content -->

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Agregar o editar Usuario</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header" style="background-color: #0069d9;">
                        <h3 class="card-title" style="color: aliceblue;" ><br> Datos de la Usuario</h3>
                    </div>
                    <form [formGroup]="forma" (ngSubmit)="guardar()">
                        <div class="card-body">


       <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" name="Nombre" [class.is-invalid]="nombre_completoNoValido"
        formControlName="nombre_completo" class="form-control"
        id="Nombre" placeholder="Nombre de usuario">
        <small *ngIf="nombre_completoNoValido" class="form-text text-danger"><i
                class="fa fa-exclamation-triangle"></i>El campo Nombre es requerido
        </small>
    </div>

       <div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text" name="usuario" [class.is-invalid]="nombre_usuarioNoValido"
        formControlName="nombre_usuario" class="form-control"
        id="usuario" placeholder="Usuario de usuario">
        <small *ngIf="nombre_usuarioNoValido" class="form-text text-danger"><i
                class="fa fa-exclamation-triangle"></i>El campo Usuario es requerido
        </small>
    </div>
       <div class="form-group">
        <label for="clave">Clave</label>
        <input type="password" name="clave" [class.is-invalid]="password_hashNoValido"
        formControlName="password_hash" class="form-control"
        id="clave" placeholder="Clave de usuario">
        <small *ngIf="password_hashNoValido" class="form-text text-danger"><i
                class="fa fa-exclamation-triangle"></i>El campo Clave es requerido
        </small>
    </div>

    <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" [class.is-invalid]="telefonoNoValido"
        formControlName="telefono" class="form-control"
        id="telefono" placeholder="Teléfono">
        <small *ngIf="telefonoNoValido" class="form-text text-danger"><i
                class="fa fa-exclamation-triangle"></i>El campo Teléfono es requerido
        </small>
    </div>

    <div class="form-group">
        <label for="direccion">Tipo Usuario</label>
        <select formControlName="id_rol" name="id_rol" id="id_rol" [class.is-invalid]="id_rolNoValido" class="form-control">
            <option [ngValue]="1" selected>Administrador</option>
            <option [ngValue]="2">Usuario</option>
        </select>
        <small *ngIf="id_rolNoValido" class="form-text text-danger"><i
                class="fa fa-exclamation-triangle"></i>El campo tipo_usuario es requerido
        </small>
    </div>


                            <div class="form-group">
                                <label for="direccion">Estado</label>
                                <select formControlName="activo" name="activo" id="activo" [class.is-invalid]="activoNoValido" class="form-control">
                                    <option [ngValue]="1" selected>Activo</option>
                                    <option [ngValue]="0">Inactivo</option>
                                </select>
                                <small *ngIf="activoNoValido" class="form-text text-danger"><i
                                        class="fa fa-exclamation-triangle"></i>El campo estado es requerido
                                </small>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="col">

                                <button routerLink="/dashboard/usuario" class="btn btn-secondary mr-1 mb-1 waves-effect waves-light">
                                    <i class="fa fa-window-close"></i>
                                    Cancelar
                                </button>

                                <button type="submit" class="btn btn-info mr-1 mb-1 waves-effect waves-light">
                                    <i class="fa fa-save"></i>
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
