<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8">
                <h1>Médicos</h1>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col">
                        <br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <li class="fa fa-search"></li>
                                </span>
                            </div>
                            <input type="search" [(ngModel)]="filtro" placeholder="Filtrar por nombre del médico" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4 text-left">
                        <br>
                        <button (click)="addmedico()" type="button" [tooltip]="'Agregar'" class="btn btn-info mr-1 mb-1 waves-effect waves-light">
                            <li class="fa fa-plus"></li> Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive">
                        <table id="table-medicos" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Licencia</th>
                                    <th>Teléfono</th>
                                    <th>Estado</th>
                                    <th class="text-right">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of medico | filter:'nombre':filtro">
                                    <td>{{ item.id_medico }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>{{ item.apellido_paterno }}</td>
                                    <td>{{ item.numero_licencia }}</td>
                                    <td>{{ item.telefono }}</td>
                                    <td>
                                        <div class="chip chip-success mr-1 text-center">
                                            <div class="chip-body">
                                                <span *ngIf="item.activo===1" class="badge btn-success">Activo</span>
                                                <span *ngIf="item.activo===0" class="badge btn-danger">Inactivo</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <button (click)="editmedico(item)" [tooltip]="'Editar'" class="btn btn-icon btn-info mr-1 mb-1 waves-effect waves-light">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <a *ngIf="item.activo===0" [tooltip]="'Activar'" type="button" (click)="Estadomedico(item, 1)" class="btn btn-icon btn-success mr-1 mb-1 waves-effect waves-light">
                                            <i class="fa fa-check-circle" style="color:white"></i>
                                        </a>
                                        <a *ngIf="item.activo===1" [tooltip]="'Inactivar'" type="button" (click)="Estadomedico(item, 0)" class="btn btn-icon btn-danger mr-1 mb-1 waves-effect waves-light">
                                            <i class="fa fa-trash" style="color:white"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Licencia</th>
                                    <th>Teléfono</th>
                                    <th>Estado</th>
                                    <th class="text-right">Opciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>