<!-- Content Wrapper. Contains page content -->

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Reporte de usuarios</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header" style="background-color: #0069d9;">
                        <h3  style="color: aliceblue;" class="card-title"><br> Usuarios</h3>
                    </div>
                    <form [formGroup]="forma" (ngSubmit)="generar()">
                        <div class="card-body">


                

                            <div class="form-group">
                                <label for="direccion">Estado:</label>
                                <select formControlName="estado" name="estado" id="estado" class="form-control">
                              <option value="A" selected>Activo</option>
                              <option value="I">Inactivo</option>
                              <option value="%">Todos</option>
                          </select>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="col">


                                <button (click)="getreporte()" type="submit" class="btn btn-info mr-1 mb-1 waves-effect waves-light">
                              <i class="fa fa-search"></i>
                              Visualizar
                          </button>
                                <button (click)="generarpdf()" class="btn btn-success mr-1 mb-1 waves-effect waves-light">
                           <i class="fa fa-save"></i>
                           Generar PDF
                       </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>



<section *ngIf="muestra">
    <div class="wrapper" id="htmlData">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h2 class="page-header">
                        Sistema de RentCar
                        <small class="float-right">Fecha: {{fecha}} <br>Usuario: {{nombre_usuario}}</small>

                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">

                    <address>
        <br><br>
<strong>Reporte de Usuarios</strong>
<br>
</address>
                </div>

            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Código </th>
                                <th>Nombre </th>
                                <th>Usuario </th>
                                <th>Tipo Usuario </th>     
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of reporte">
                                              
        <td>{{item.idusuario }}</td>
        <td>{{item.nombre }}</td>
        <td>{{item.usuario }}</td>
        <td>{{item.tipousuario }}</td>
                <td>{{item.tipousuario }}</td>
        <td>{{item.estado }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                    <b class="lead">Total: {{this.cant}}</b>

                </div>

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->

</section>